@model IEnumerable<Lemon.Models.Purchase>

@{
    ViewData["Title"] = "Shop";
}

<h2>Available Purchase Items</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PurchaseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-controller="Cart" asp-action="AddToCart" asp-route-purchaseId="@item.PurchaseId">Add To Cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
